aiohttp==3.11.13
binance==0.3
binance_connector==3.12.0
binance_futures_connector==4.1.0
fastapi==0.124.4
numpy==2.3.5
protobuf==6.33.2
python_binance==1.0.28
redis==7.1.0
Requests==2.32.5
ta_lib==0.6.3
uvicorn==0.38.0
